<!DOCTYPE html>
<html>
  <head>
    <title>BasShows-Concet Time</title>
    <meta charset = "utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
  </head>

    <body>
      <h1 id="BasSows">BasShows</h1>

      <% @shows.each do |show| %>
        <div class="show">
          <h3><a href=<%= show["ticket_url"] %>><%= show["band"] %></h3></a>
        </div>
      <% end %>
    </body>
</html>
