body {
  background: url(/pictures/concert.jpg);
  background-color: lightblue;
}

#basshows {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: italic;
  font-size: 400%;
  width: 50%;
  margin: 2% auto;
  text-align: center;
  color: silver;
  background-color: black;
}
